<div class="password-input-container">
  <input
    [type]="showPassword ? 'text' : 'password'"
    class="password_input"
    placeholder="Enter your password"
    (input)="onPasswordChange($event)"
  />
  <button type="button" (click)="toggleShowPassword()" class="password-button">
    <img
      src="assets/icons/{{ showPassword ? 'eye-invisible.svg' : 'eye.svg' }}"
      alt="Toggle Password Visibility"
    />
  </button>
</div>

<app-indicator [passwordStrength]="passwordStrength"></app-indicator>
